@import "../dist/webkit-sassui-popup.scss";
.test-webkit-sassui-popup{
  border:1px solid red;
}


button{
  border: none;
  color:#fff;
  display: block;
  width:100%;
  padding:14px;
  background: #4cd964;
  margin-bottom: 20px;
}