/*webkit-sassui-popup Start*/
.webkit-sassui-popup {
  position: fixed;
  left: 0;
  bottom: 0;
  backface-visibility: hidden;
  width: 100%;
  box-sizing: border-box;
}

@keyframes webkit-sassui-popup-in {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes webkit-sassui-popup-out {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

.webkit-sassui-popup.visible-true, .webkit-sassui-popup[data-visible="true"] {
  animation: 300ms webkit-sassui-popup-in ease-in-out forwards;
}

.webkit-sassui-popup.visible-false, .webkit-sassui-popup[data-visible="false"] {
  animation: 300ms webkit-sassui-popup-out ease-in-out forwards;
}

/*webkit-sassui-popup End*/
html, body {
  height: 100%;
}

.test-webkit-sassui-popup {
  border: 1px solid red;
}

button {
  border: none;
  color: #fff;
  display: block;
  width: 100%;
  padding: 14px;
  background: #007aff;
  border-radius: 10px;
  margin-bottom: 20px;
}
