@import "../dist/webkit-sassui-popup.scss";
html,body{
  height:100%;
}
.test-webkit-sassui-popup{
  border:1px solid red;
}


button{
  border: none;
  color:#fff;
  display: block;
  width:100%;
  padding:14px;
  background: #007aff;
  border-radius: 10px;
  margin-bottom: 20px;
}
